{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{clean_files, ["ebin", "doc"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps,
    [
      { mondemand_server,
        "3.0.0",
        {git, "git://github.com/mondemand/mondemand-server.git", {tag, "3.0.0"}}
      },
      { riemann,
        "0.2.0",
        {git, "git://github.com/mondemand/erlang_riemann.git", {tag, "0.2.0"}}
      }
    ]
}.
