[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20402} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_riemann ] }
        ]
      },
      {
        mondemand_stats_riemann,
        [
          % TODO: put config for riemann here
        ]
      }
    ]
  }
].
